<header>
    <nav style="background-color: #fff" class="navbar navbar-expand-md">
        <div><a style="color: #ff5800; font-weight: bolder;" href="https://www.avanade.com/se-no" class="navbar-brand">
                Avanade</a></div>

        <ul class="navbar-nav">
            <li><a style="color: #ff5800; font-weight: 500;" routerLink="/welcome/user"
                    class="nav-link">Home</a></li>
            <li><a style="color: #ff5800; font-weight: 500;" routerLink="/todos" class="nav-link">Azure function</a>
            </li>
        </ul>

       
    </nav>
</header>