<H1 style="margin-top: 1em; margin-bottom: 1.5em; margin-left: 0.25em; color: #fff;">Welcome!</H1>

<div style="color: #fff" class="container">
  <div>Welcome to Avanade's Abakus 2021 program.</div>
  <div style="margin-top: 2em; margin-bottom: 2em;">Digitisation is changing the world as we know it. At Avanade, we help organisations succeed in this fast-changing landscape. As a leading digital innovator, we realise results for our clients and their customers, through the power of our people and the Microsoft ecosystem.</div>
  <div>Microsoft's Azure Functions is a serverless compute service that enables user to run event-triggered code without having to provision or manage infrastructure. Being as a trigger-based service, it runs a script or piece of code in response to a variety of events.</div>
  <div style="margin-top: 2em; margin-bottom: 2em;">Let's learn Azure functions in this application!</div>
</div>