<H1 style="background: orange;">Welcome!</H1>

<div class="container" style="background: orange;">
  <div>
  Accenture and Avanade Named Microsoft 2021 Global Alliance SI Partner of the Year for 16th Time
Unique relationship and capabilities recognised across nine award categories
NEW YORK and SEATTLE – July 8, 2021
Accenture (NYSE: ACN) and Avanade have been named the 2021 Microsoft Global Alliance SI Partner of the Year for the 16th time. The companies have been recognised with a total of nine awards in 2021 for demonstrating excellence in innovation and implementation of customer solutions based on Microsoft technology.

In addition to being named the 2021 Global Alliance SI Partner of the Year, Accenture and Avanade have also been named:

Automotive Partner of the Year
Dynamics 365 Customer Insights Partner of the Year
Dynamics 365 Customer Service Partner of the Year
Dynamics 365 Supply Chain Management & Finance Partner of the Year
Employee Experience Partner of the Year
SAP on Azure Partner of the Year
Canada Country Partner of the Year
Ireland Country Partner of the Year
  </div>
  <div>
    We are thrilled be recognised again as the Global Alliance SI Partner of the Year, which underscores our ongoing commitment to helping clients radically improve agility, come up with new business models and reach their customers in new ways with Microsoft technology,” said Chris Howarth, senior managing director and Accenture Microsoft Business Group Lead. “The powerful combination of Accenture's industry and technology experience, Avanade’s executional rigour to embed industry, innovation and insight into the very heart of business, and Microsoft’s trusted enterprise platform enable us to accelerate the path to value for clients.”

Accenture and Avanade were also named finalists in seven categories, including: Digital Transformation SI; Dynamics 365 Sales; Energy; Manufacturing; Media and Communications; Migration to Azure; and Nonprofit.
  </div>
  <div>
    “It’s a tremendous honour to be named Global Alliance Partner of the Year for a record 16th time,” said Pam Maynard, chief executive officer of Avanade. “These awards are testament to our unique long-standing relationship and solidify our position as the market leader – through our unrivalled breadth and depth of Microsoft capabilities and our deep industry insights – enabling us to make a genuine human impact for our clients, their employees and their customers.”

“Our decades long alliance with Accenture and Avanade is stronger than ever, and we continue to build on our collaboration to help customers overcome extraordinary disruption and lead their industries into the future,” said Judson Althoff, Microsoft’s executive vice president and chief commercial officer. “These awards recognise the tremendous value that we are delivering together.”

Together, Accenture and Avanade have delivered more than 35,000 Microsoft projects for more than 12,000 clients across over 20 industries around the world. The companies have been named Microsoft Alliance Partner of the Year 16 times, more than any other partner.
  </div>
  <h3>About Avanade</h3>
  <div>
Avanade is the leading provider of innovative digital and cloud services, business solutions and design-led experiences on the Microsoft ecosystem. Our professionals bring bold, fresh thinking combined with technology, business and industry expertise to help make a genuine human impact on our clients, their customers and their employees. We are the power behind the Accenture Microsoft Business Group, helping companies to engage customers, empower employees, optimise operations and transform products, leveraging the Microsoft platform. Avanade has 44,000 professionals in 25 countries, bringing clients our best thinking through a collaborative culture that honours diversity and reflects the communities in which we operate. Majority owned by Accenture, Avanade was founded in 2000 by Accenture LLP and Microsoft Corporation. Learn more at www.avanade.com.
  </div>
</div>